.createBook {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-width: 200px;
}

.createBook label {
  display: flex;
  flex-direction: column;
    row-gap: 3px;
}

.createBook input {
 width: 100%;
}

.createBook button {
  width: 100%;
  padding: 5px 10px;
  margin-top: 20px;
}