.deleteButton {
  color: var(--background);
  background-color: var(--foreground);
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

.deleteButton:hover {
  box-shadow: 0 0 5px 0 var(--foreground);
}