.card {
  border: 1px solid var(--color-disabled);
  border-radius: var(--radius-control);
  padding: var(--space-4) var(--space-2);
  background: var(--color-surface);
}

.card dl {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--space-2) var(--space-4);
}

.card dt {
  font-weight: 700;
}

.card dd {
  margin: 0;
}

.card .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: var(--space-4);
  margin-top: var(--space-4);
}