.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 1px solid var(--foreground);
  padding: 20px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.leftPanel {
  display: flex;
  align-items: center;
  column-gap: 10px;
}