.header {
  border-bottom: 1px solid var(--color-disabled);
  padding: var(--space-3) 0;
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-5);
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: var(--space-5);
}

.leftPanel {
  display: flex;
  align-items: center;
  column-gap: var(--space-3);
}