.createBook {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-2);
  max-width: 200px;
}

.createBook label {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-1);
}

.createBook input {
  width: 100%;
}